---
layout: default
---


      <div class="row">
        <div class="col-sm-8 blog-main">
        {% if paginator.total_pages <= 1 %}
        	<div calss="posts">
        	{% for post in site.posts %}
        		<div class="blog-post">
            
        			<a href="{{ site.baseurl }}{{ post.url }}">
                <h3 class="blog-post-title">{{ post.title }}</h3>
              </a>
        			<div class="entry">
        			   {{ post.excerpt }}
                 {% if post.content contains "<!-- more -->" %}
                    {{ post.content | split:"<!-- more -->" | first % }}
                 {% endif %}
              </div>
            </div>
        	{% endfor %}
        	</div>
        {% endif %}
        {% if paginator.total_pages > 1 %}
          <div calss="posts">
              {% for post in paginator.posts %}
                <div class="blog-post">
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <h3 class="blog-post-title">{{ post.title }}</h3>
                  </a>
                  <div class="entry">
                    {{ post.excerpt }}
                    {% if post.content contains "<!-- more -->" %}
                      {{ post.content | split:"<!-- more -->" | first % }}
                    {% endif %}
                   </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
          
          <nav>
            <ul class="pager">
              {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//','/' }}">Previous</a></li>
              {% endif %}
              {% if paginator.total_pages > 1 %}
                <span>Page &nbsp</span>
                {% for page in (1..paginator.total_pages) %}
                 {% if page == paginator.page %}
                    <span class="active">{{ page }}</span>
                  {% elsif page == 1 %}
                   <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                  {% else %}
                   <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a></li>
              {% endif %}
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
          	<h3> Category</h3>
             <ol class="list-unstyled">
			       {% for category in site.categories %}
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{ category | first }}
                  <span class="badge" style="background-color: #4183c4">
                    {{ category | last | size }}
                  </span>
                  </a>
		            <ul class="dropdown-menu">
 			          {% for post in category.last %}
                  <li style="overflow: hidden;text-overflow: ellipsis;display: inline;">
                    <a href="{{ post.url }}">
                      <span style="color:#4183C4;">
                        {{ post.title }}&nbsp&nbsp
                      <span align="right" >
                      {{ post.date | date:"%Y/%m/%d"}}
                      </span>
                      </span>
                    </a>
                  </li>
                {% endfor %}
				        </ul>
              </li>
			       {% endfor %}
             </ol>
		      </div>
          <div class="sidebar-module">
            <h3>Archives</h3>
            <ol class="list-unstyled">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  February 2016
                  <span class="badge" style="background-color: #4183C4">
                    2 <!-- the posts' amount of this month-->
                  </span>
                </a>
                <ul class="dropdown-menu">
                  
                    <li><a href="/Start-Here/"><span style="color:#4183C4">Start Here</span></a></li>
                    <li><a href="/About-Jekyll-Now/"><span style="color:#4183C4">About Jekyll Now</span></a></li>
                  
                </ul>
              </li>
              <li><a href="#">April 2016</a></li>
            </ol>
          </div>
          <!-- Archives over-->
          <div class="sidebar-module">
          <div>
            <h3>Hot</h3>
            <!-- 多说热评文章 start -->
                <div class="ds-top-threads" data-range="daily" data-num-items="5"></div>
                <!-- 多说热评文章 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                  var duoshuoQuery = {short_name:"hikean"};
                  (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);})();
                </script>
            </div>
              <!-- 多说公共JS代码 end -->
            <div>
              <h3>Newly</h3>
              <!-- 多说最新评论 start -->
              <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
              <!-- 多说最新评论 end -->
              <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
              <script type="text/javascript">
                var duoshuoQuery = {short_name:"hikean"};
               (function() {
                var ds = document.createElement('script');
               ds.type = 'text/javascript';ds.async = true;
               ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
               ds.charset = 'UTF-8';
               (document.getElementsByTagName('head')[0] 
              || document.getElementsByTagName('body')[0]).appendChild(ds); })();
              </script>
              <!-- 多说公共JS代码 end -->
              </div>
          </div>

        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->