---
layout: default
---


      <div class="row">
        <div class="col-sm-8 blog-main">
        {% if paginator.total_pages <= 1 %}
        	<div calss="posts">
        	{% for post in site.posts %}
        		<div class="blog-post">
            
        			<a href="{{ site.baseurl }}{{ post.url }}">
                <h3 class="blog-post-title">{{ post.title }}</h3>
              </a>
        			<div class="entry">
        			   {{ post.excerpt }}
                 {% if post.content contains "<!-- more -->" %}
                    {{ post.content | split:"<!-- more -->" | first % }}
                 {% endif %}
              </div>
            </div>
        	{% endfor %}
        	</div>
        {% endif %}
        {% if paginator.total_pages > 1 %}
          <div calss="posts">
              {% for post in paginator.posts %}
                <div class="blog-post">
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <h3 class="blog-post-title">{{ post.title }}</h3>
                  </a>
                  <div class="entry">
                    {{ post.excerpt }}
                    {% if post.content contains "<!-- more -->" %}
                      {{ post.content | split:"<!-- more -->" | first % }}
                    {% endif %}
                   </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
          
          <nav>
            <ul class="pager">
              {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//','/' }}">Previous</a></li>
              {% endif %}
              {% if paginator.total_pages > 1 %}
                <span>Page &nbsp</span>
                {% for page in (1..paginator.total_pages) %}
                 {% if page == paginator.page %}
                    <span class="active">{{ page }}</span>
                  {% elsif page == 1 %}
                   <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                  {% else %}
                   <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a></li>
              {% endif %}
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
          	<h3> Category</h3>
             <ol class="list-unstyled">
			       {% for category in site.categories %}
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{ category | first }}
                  <span class="badge" style="background-color: #4183c4">
                    {{ category | last | size }}
                  </span>
                  </a>
		            <ul class="dropdown-menu">
 			          {% for post in category.last %}
                  <li>
                    <a href="{{ post.url }}">
                      <span style="color:#4183C4">
                        {{ post.title }}&nbsp&nbsp{{ post.date | date:"%Y/%m/%d"}}
                      </span>
                    </a>
                  </li>
                {% endfor %}
				        </ul>
              </li>
			       {% endfor %}
             </ol>
		      </div>
          <div class="sidebar-module">
            <h3>Archives</h3>
            <ol class="list-unstyled">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  February 2016
                  <span class="badge" style="background-color: #4183C4">
                    2 <!-- the posts' amount of this month-->
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <span style="color:#4183C4">
                    <li><a href="/Start-Here/">Start Here</a></li>
                    <li><a href="/About-Jekyll-Now/">About Jekyll Now</a></li>
                  </span>
                </ul>
              </li>
              <li><a href="#">April 2016</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->