---
layout: post
title: Leetcode Solutions
categories: [Leetcode]
tags: [Algorithm, Leetcode]
---
<!-- more --> All leetcode free problems solutinos.<!-- more -->

<div>
</div>
<div>
<table id="problem_list" align="center"  class="tablesorter">
<thead>
	<tr>
		<th><a>ID</a></th>
		<th><a>Title</a></th>
		<th><a>Acceptance</a></span></th>
		<th><a>Difficulty</a></th>
		<th><a>Editorial</a></th>
	</tr>
</thead>
<tbody>
	{% for item in site.data.leetcode_data.algorithm %}
		{% if item.editorial != "locked" %}
		<tr>
			<td>{{item.id}}</td>
			<td>
				<a href="https://leetcode.com/problems/{{item.url}}/">{{item.title}}</a>
			</td>
			<td>{{item.acceptance}}</td>
			<td>{{item.difficulty}}</td>
			<td>
				{% if item.editoral == "true" %}
				<a href="/leetcode/{{item.id}}-{{item.url}}/">查看题解</a>
				{% else %}
					不日更新
				{% endif %}
			</td>
		</tr>
		{% endif%}
	{% endfor%}
</tbody>
</table>
</div>
<script type="text/javascript">
	$(document).ready(function()
	{
		$("#problem_list").tablesorter();
	});
</script>
<br/><br/><br/>

{% include duoshuo.html %}
