---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date" align="right">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="entry">
    {{ content }}
  </div>

  
  

{% if   site.duoshuo %}

    <div class="ds-thread" data-thread-key="{{ page.thread }}" data-url="{{ site.url }}{{ page.url }}" data-title="{{ page.title }}" ></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.duoshuo }}"};/*site.duoshuo*/
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
{% else %}
	{% include disqus.html %}
{% endif %}

</article>
